.about-intro {
  width: auto;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  max-width: 1600px;
}

.about-page p {
  font-size: 20px;
}

.about-portrait-img {
  flex: 2 1;
}

.about-portrait {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.about-copy {
  margin-top: 1.5rem;
}

.about-copy-wrapper {
  flex: 1.8;
}

.about-copy-wrapper p {
  margin-bottom: 1.5rem;
}

.about-copy-wrapper .line-wrapper span {
  opacity: 0;
}

.about-intro .line-wrapper,
.about-intro .about-copy-title,
.cv-header .line-wrapper,
.cv-name p .line-wrapper,
.cv-year p .line-wrapper {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.cv-header .line-wrapper span {
  position: relative;
  transform: translateY(70px);
  will-change: transform;
}

.cv-name p .line-wrapper span,
.cv-year p .line-wrapper span {
  position: relative;
  transform: translateY(70px);
  will-change: transform;
}

.about-intro .about-copy-title h1 {
  position: relative;
  transform: translateY(70px);
  will-change: transform;
}

.about-intro .line-wrapper span {
  position: relative;
  transform: translateY(30px);
  will-change: transform;
}

.about-hero-img {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin: 8em 0;
}

.cv-wrapper {
  width: 85%;
  margin: 0 auto 16em auto;
}

.cv-wrapper .cv-header {
  margin-bottom: 2em;
}

.cv-item {
  width: 100%;
  padding: 1.25em 0;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  border-bottom: 1px solid var(--text-darker);
}

.cv-wrapper h3 {
  font-size: 18px;
}

@media (max-width: 900px) {
  .about-intro {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .about-copy-wrapper h1 {
    margin-bottom: 1em;
    @media (max-width: 900px) {
      font-size: 28px;
      margin-bottom: 0.5em;
    }
  }

  .cv-wrapper {
    width: 100%;
  }
}
