.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 100000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--text);
  transform: scaleX(0);
  transform-origin: left;
}


.progress-number {
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  font-variant-numeric: tabular-nums;
  display: flex;
  gap: 0.5rem;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}

.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.hero-title .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-title .line .text-translate {
  position: relative;
  transform: translateY(70px);
  will-change: transform;
}

@media (max-width: 900px) {
  .hero-title {
    width: 90%;
  }
}
