.menu-toggle {
  position: relative;
  width: 80px;
  padding: 0.25em 0;
  cursor: pointer;
}

.menu-copy {
  position: relative;
  width: 80px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-copy p#menu-open {
  position: absolute;
  right: 0;
  transform: translateY(0px);
}

.menu-copy p#menu-text {
  position: absolute;
  right: 0;
  transform: translateY(24px);
}

@media (max-width: 900px) {
  .menu-toggle {
    width: 70px;
  }
}
