.sitemap-page {
  width: 100%;
  height: 100%;
}

.sitemap-page .container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sitemap-page .container .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4em;
}

.sitemap-page .container .col:nth-child(1) {
  flex: 1;
}

.sitemap-page .container .col:nth-child(2) {
  flex: 1.2;
}

.sitemap-page .title {
  margin-bottom: 1em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.sitemap-page .item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin-bottom: 0.5em;
}

.sitemap-page .item p,
.sitemap-page .item a {
  font-size: 24px;
  color: var(--text);
  transition: color 0.3s ease;
}

.sitemap-page .item a:hover p,
.sitemap-page .item a:hover {
  color: var(--text-secondary);
}

.sitemap-header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.sitemap-header h1 {
  position: relative;
  transform: translateY(64px);
  will-change: transform;
}

.sitemap-page .item p,
.sitemap-page .item a p {
  position: relative;
  transform: translateY(28px);
  will-change: transform;
}

.sitemap-page .title p {
  position: relative;
  transform: translateY(24px);
  font-size: 20px;
  will-change: transform;
}

.sitemap-description .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-secondary);
}

@media (max-width: 900px) {
  .sitemap-page {
    height: auto;
    min-height: 100%;
  }

  .sitemap-page .container {
    flex-direction: column-reverse;
    padding: 8em 2em 4em 2em;
    gap: 4em;
  }

  .sitemap-page .item p,
  .sitemap-page .title p,
  .sitemap-page .item a {
    font-size: 16px;
  }

  .sitemap-description .item p {
    font-size: 14px;
  }
}
